
body {
    margin: 25px;
    font-family: Arial, sans-serif;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

ul li{
    float: right;
}
ul li a{
   display: block;
    padding: 8px;
   background-color: black;
}
section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 5px;
        padding: 10px;
    }
}
